.marginTop-1 {
  margin-top: 5px; }

.marginTop-2 {
  margin-top: 10px; }

.marginTop-3 {
  margin-top: 15px; }

.marginTop-4 {
  margin-top: 20px; }

.marginTop-5 {
  margin-top: 25px; }

.marginTop-6 {
  margin-top: 30px; }

.marginTop-7 {
  margin-top: 35px; }

.marginTop-8 {
  margin-top: 40px; }

.marginTop-9 {
  margin-top: 45px; }

.marginTop-10 {
  margin-top: 50px; }

.marginBo-1 {
  margin-bottom: 5px; }

.marginBo-2 {
  margin-bottom: 10px; }

.marginBo-3 {
  margin-bottom: 15px; }

.marginBo-4 {
  margin-bottom: 20px; }

.marginBo-5 {
  margin-bottom: 25px; }

.marginBo-6 {
  margin-bottom: 30px; }

.marginBo-7 {
  margin-bottom: 35px; }

.marginBo-8 {
  margin-bottom: 40px; }

.marginBo-9 {
  margin-bottom: 45px; }

.marginBo-10 {
  margin-bottom: 50px; }

.logo {
  width: 70px; }
